<body>
    


   

    <router-outlet></router-outlet>
    <!-- <nav>
        <button  routerLink="edit">Create New Historical Event</button>
    </nav>
    

   <table>
        <thead>
            <th>Name</th>
            <th>Year</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{ event.name }}</td>
                <td>{{ event.year }}</td>
                <td><button (click)="editEvent(event)">Edit</button></td>
            </tr>
        </tbody>
    </table>

    <app-edit-event [event]="eventToEdit" (eventsUpdated)="updateEventList($event)"></app-edit-event>-->
</body>