
<div *ngIf="event">
    <h2>{{ event.name }}</h2>
    <div>
        Name:
        <input id="ip2" [(ngModel)]="event.name" placeholder="Name"/>
    </div>
    <div>
        Year:
        <input id="ip2" [(ngModel)]="event.year" placeholder="Year"/>
    </div>
    <div>
        Era:
        <input id="ip2" [(ngModel)]="event.era" placeholder="Era"/>
    </div>
    <div>
        Picture:
        <input id="ip2" [(ngModel)]="event.pictureName" placeholder="Picture"/>
    </div>

    <button (click)="updateEvent(event)" *ngIf="event.id">Save</button>
    <button (click)="deleteEvent(event)" *ngIf="event.id">Delete</button>
    <button (click)="createEvent(event)" *ngIf="!event.id">Create</button>
</div>
